body {
    font-family: 'roboto';
    width: 100%;
    margin: 0;
    padding: 0;
}

button {
    width: 85px;
    height: 20px;
    background-color: #2883F6;
    border-radius: 5px;
    border: 1px solid white;
    color: #F9FAF8;
}

#flexContainer1 {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

#flexContainer2 {
    display: flex;
    flex-direction: column;
    height: 300px;
}

#flexContainer3 {
    display: flex;
    height: 300px;
}

#flexContainer4 {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    align-items: center;
}

#flexContainer5 {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#flexContainer6 {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
}

.heroSecondary, .headerLink {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
}

.headerNav, .topSection, .footer {
    background-color: #1F2937;
}

.testimonial {
    background-color: #E5E7EB;
}

.quote {
    height: 60px;
    width: 53%;
    font-size: 36px;
    font-style: light-italic;
    color: #1F2937;  
    flex: 1; 
}

.heroMainText {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.callToAction {
    background-color: #2883F6;
    height: 100px;
    width: 900px;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.footer {
    color: #F9FAF8;
}
